.footer-container {
  display: flex;
  justify-content: space-between;
  padding: 80px 60px;
  background: #00101a;
  position: relative;
  bottom: 0;
  width: 100%;
}

.socialIcons {
  /* background-color: #3f4b53; */
  /* background-size: 40px 40px; */
  /* padding: 5px; */
  margin-top: 12px;
  /* border-radius: 5px; */
  /* background: #3f4b53 0% 0% no-repeat padding-box; */
}

.social-icons-container p {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background: #3f4b53 0% 0% no-repeat padding-box;
  margin-right: 12px;
  align-items: center;
  text-align: center;
  margin-top: 50px;
}

.social-icons-container img {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.social-icons-container {
  display: flex;
}

.emailBar {
  border: none;
  width: 378px;
  height: 16px;
  font: var(--unnamed-font-style-normal) normal medium 13px/21.97px
    var(--unnamed-font-family-barlow);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 13px/22px Barlow;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-left: 10px;
  background-color: #00101a;
}
.emailBar,
textarea {
  outline: none;
  color: #ffffff;
}

#emailInputWrapper ::placeholder {
  color: #fff;
}

#emailInputWrapper div {
  color: #fff;
}

.searchIcon {
  text-align: right;
  justify-content: right;
  width: 18px;
  height: 18px;
  opacity: 1;
}
#emailInputWrapper {
  width: 376px;
  height: 43px;
  border: 1px solid #ffffff;
  border-radius: 24px;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
