:root {
  /* Colors: */
  --unnamed-color-f8b948: #f8b948;
  --unnamed-color-e15554: #e15554;
  --unnamed-color-f8f9fa: #f8f9fa;
  --unnamed-color-032a45: #032a45;
  --unnamed-color-00101a: #00101a;
  --unnamed-color-0078c9: #0078c9;

  /* Font/text values */
  --unnamed-font-family-coverking: Coverking;
  --unnamed-font-family-barlow: Barlow;
  --unnamed-font-style-normal: normal;
  --unnamed-font-weight-300: 300px;
  --unnamed-font-weight-bold: bold;
  --unnamed-font-weight-normal: normal;
  --unnamed-font-size-15: 15px;
  --unnamed-font-size-16: 16px;
  --unnamed-font-size-25: 25px;
  --unnamed-font-size-28: 28px;
  --unnamed-font-size-32: 32px;
  --unnamed-font-size-40: 40px;
  --unnamed-font-size-50: 50px;
  --unnamed-character-spacing-0: 0px;
  --unnamed-character-spacing-0-75: 0.75px;
  --unnamed-character-spacing-1-25: 1.25px;
  --unnamed-character-spacing--0-56: -0.56px;
  --unnamed-character-spacing--0-64: -0.64px;
  --unnamed-character-spacing--0-8: -0.8px;
  --unnamed-character-spacing--1: -1px;
  --unnamed-line-spacing-22: 22px;
  --unnamed-line-spacing-25: 25px;
  --unnamed-line-spacing-35: 35px;
  --unnamed-line-spacing-37: 37px;
  --unnamed-line-spacing-40: 40px;
  --unnamed-line-spacing-50: 50px;
  --unnamed-line-spacing-58: 58px;
  --unnamed-text-transform-uppercase: uppercase;
}

/* Character Styles */
.unnamed-character-style-1 {
  font-family: var(--unnamed-font-family-barlow);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-normal);
  font-size: var(--unnamed-font-size-16);
  line-height: var(--unnamed-line-spacing-25);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-00101a);
}
.unnamed-character-style-2 {
  font-family: var(--unnamed-font-family-coverking);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-15);
  line-height: var(--unnamed-line-spacing-22);
  letter-spacing: var(--unnamed-character-spacing-0-75);
  color: var(--unnamed-color-00101a);
  text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-3 {
  font-family: var(--unnamed-font-family-coverking);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-300);
  font-size: var(--unnamed-font-size-25);
  line-height: var(--unnamed-line-spacing-35);
  letter-spacing: var(--unnamed-character-spacing-1-25);
  color: var(--unnamed-color-00101a);
  text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-4 {
  font-family: var(--unnamed-font-family-coverking);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-25);
  line-height: var(--unnamed-line-spacing-35);
  letter-spacing: var(--unnamed-character-spacing-1-25);
  color: var(--unnamed-color-00101a);
  text-transform: var(--unnamed-text-transform-uppercase);
}
.unnamed-character-style-5 {
  font-family: var(--unnamed-font-family-coverking);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-300);
  font-size: var(--unnamed-font-size-28);
  line-height: var(--unnamed-line-spacing-37);
  letter-spacing: var(--unnamed-character-spacing--0-56);
  color: var(--unnamed-color-00101a);
}
.unnamed-character-style-6 {
  font-family: var(--unnamed-font-family-coverking);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-28);
  line-height: var(--unnamed-line-spacing-37);
  letter-spacing: var(--unnamed-character-spacing--0-56);
  color: var(--unnamed-color-00101a);
}
.unnamed-character-style-7 {
  font-family: var(--unnamed-font-family-coverking);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-32);
  line-height: var(--unnamed-line-spacing-40);
  letter-spacing: var(--unnamed-character-spacing--0-64);
  color: var(--unnamed-color-00101a);
}
.unnamed-character-style-8 {
  font-family: var(--unnamed-font-family-coverking);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-40);
  line-height: var(--unnamed-line-spacing-50);
  letter-spacing: var(--unnamed-character-spacing--0-8);
  color: var(--unnamed-color-00101a);
}
.unnamed-character-style-9 {
  font-family: var(--unnamed-font-family-coverking);
  font-style: var(--unnamed-font-style-normal);
  font-weight: var(--unnamed-font-weight-bold);
  font-size: var(--unnamed-font-size-50);
  line-height: var(--unnamed-line-spacing-58);
  letter-spacing: var(--unnamed-character-spacing--1);
  color: var(--unnamed-color-00101a);
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px 0px 10px;
  z-index: 99;
  width: 100%;
}

.navbar-items {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar-item {
  padding-left: 30px;
}

.searchbar {
  border: none;
  width: 378px;
  height: 16px;
  font: var(--unnamed-font-style-normal) normal medium 13px/21.97px
    var(--unnamed-font-family-barlow);
  letter-spacing: var(--unnamed-character-spacing-0);
  text-align: left;
  font: normal normal medium 13px/22px Barlow;
  letter-spacing: 0px;
  color: #aaafb2;
  opacity: 1;
  margin-left: 10px;
}
.searchbar,
textarea {
  outline: none;
  color: #00101a;
}

.searchIcon {
  text-align: right;
  justify-content: right;
  width: 18px;
  height: 18px;
  opacity: 1;
}
#inputWrapper {
  width: 426px;
  height: 40px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #aaafb2;
  border-radius: 20px;
  opacity: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a:-webkit-any-link {
  text-decoration: none;
  height: 18px;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold)
    var(--unnamed-font-size-15) / 21.97px var(--unnamed-font-family-coverking);
  letter-spacing: var(--unnamed-character-spacing-0-75);
  text-align: center;
  font: normal normal bold 15px/22px Coverking;
  letter-spacing: 0.75px;
  color: #01121d;
  opacity: 1;
}

.navbar-icons {
  padding: 0 10px 0 10px;
  width: 100%;
}

#navbar-logo {
  margin-top: -15px;
}

.homepage-container {
  display: flex;
  flex-direction: column;
}

/*carousel arrows*/
.carousel-control-next-icon,
.carousel-control-prev-icon {
  display: none;
}
